<script>
  import "../app.css";
  import Logo from '$lib/components/Logo.svelte'
  import Navigation from '$lib/components/Navigation.svelte'
</script>


<div class="flex">
  <div class="bg-toska-tua h-screen p-3">
    <Logo/>
    <Navigation/>
  </div>
  <!-- sidenav end -->
  <div class="bg-toska-muda w-screen">
    <h1>Home Page</h1>
    <slot />
  </div>
</div>
