<script>
  import Icon from '@iconify/svelte';
</script>

<nav>
  <ul>
    <div class="mb-5">
      <li class="font-semibold text-biru p-2 flex text-lg items-center gap-x-2">
        <span><Icon icon="material-symbols:wifi" /></span>
        <span>Wifi</span>
      </li>
      <ul>
        <a href="/network">
          <li class="text-biru-tua p-0.5 pl-9 hover:bg-toska-muda rounded-lg cursor-pointer">Networks</li>
        </a>
        <li class="text-biru-tua p-0.5 pl-9 hover:bg-toska-muda rounded-lg cursor-pointer">Clients</li>
      </ul>
    </div>
    <div class="mb-5">
      <li class="font-semibold text-biru p-2 flex text-lg items-center gap-x-2">
        <span><Icon icon="mdi:local-area-network" /></span>
        <span>Extranet</span>
      </li>
      <ul>
        <li class="text-biru-tua p-0.5 pl-9 hover:bg-toska-muda rounded-lg cursor-pointer">Partners</li>
        <li class="text-biru-tua p-0.5 pl-9 hover:bg-toska-muda rounded-lg cursor-pointer">IP LAN Allocation</li>
        <li class="text-biru-tua p-0.5 pl-9 hover:bg-toska-muda rounded-lg cursor-pointer">IP WAN Allocation</li>
      </ul>
    </div>
  </ul>
</nav>